node_modules

packages/semaphore/Prover.toml
packages/semaphore/target/
!packages/semaphore/target/proof-clean-depth1
!packages/semaphore/target/proof-clean-depth4
!packages/semaphore/target/proof-clean-depth8
!packages/semaphore/target/proof-clean-depth16
!packages/semaphore/target/proof-clean-depth20
!packages/semaphore/target/proof-clean-depth24
!packages/semaphore/target/proof-clean-depth28
!packages/semaphore/target/proof-clean-depth32
packages/js/node_modules
.DS_Store

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
